# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3d413f9a587dc8e0a44cc749a4a582f07e54aa20608bb2151b4f533b27c375eb35812c22b4fff4a833ed79cf8fd55191b65fb28c67c8706307b8bee59031c77e

test:
  secret_key_base: 398780b4e8ccc6983c5825954e23e21fe1ec3b152ca0b689e5b00a0c42b99bfc10e16d3a525b5f25651ce4680b49b20c47368a54a4ceb171689a976558df0967

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
